@use "style" as *;

$block-name: "b-books-item";

.#{$block-name} {
	position: relative;
	display: flex;
	flex-direction: column;
	height: clamp(670px, 33.07vh, 900px);
	width: 23.7vw;
	gap: 25px;
	margin-block: 15px;

	&:hover {
		position: absolute;
		top: 0;
		height: 850px;
	}
}
