@use "style" as *;

$block-name: "b-books-item";

.#{$block-name} {
	position: relative;
	display: flex;
	flex-direction: column;
	height: clamp(670px, 33.07vh, 900px);
	width: 23.7vw;
	gap: 25px;
	margin-block: 15px;

	&:hover {
		position: absolute;
		top: 0;
		height: 820px;
	}

	&:hover .#{$block-name}__info-container {
		display: block;
	}

	&__image-title {
		font-size: 18px;
		font-weight: 700;
		color: #3f3f3f;

		&:hover {
			text-decoration: none;
		}
	}

	&__price-container {
		font-size: 18px;
		font-weight: 700;
		color: #3f3f3f;
	}

	&__info-container {
		display: none;
	}

	&__amount-container {
		display: flex;
		gap: 5px;
	}

	&__amount-field {
		width: 40px;
	}

	&__amount-field-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 22px;
		width: 22px;
		background-color: #cecbcb;
		border-radius: 15%;

		&:hover {
			cursor: pointer;
		}
	}
}
