

/* Start:/local/templates/galactic/components/bitrix/system.pagenavigation/myPagination/style.css?17732136301394*/
.pagination__list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: var(--base-page-inline-indent);
    margin-block: 83px;
    column-gap: 16px;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-button);
    font-weight: 600;
    color: var(--color-brand);
    width: 56px;
    height: 54px;
    border: 2px solid var(--color-brand);
    border-radius: 50px;
    transition: 0.3s;
}

.pagination__link.pagination__link--active,
.pagination__link:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.pagination__link--before,
.pagination__link--next {
    width: 106px;
    height: 54px;
}

.pagination__arrow {
    width: 24px;
    height: 22px;
}

.pagination__arrow--before {
    background: url('/local/images/arrow-right-for-pagination.svg') center/contain no-repeat;
    /* использовал scale(-1), чтобы развернуть имеющуюся стрелку и не брать картинку вне макета */
    transform: scale(-1);
}

.pagination__arrow--next {
    background: url('/local/templates/galactic/components/bitrix/system.pagenavigation/myPagination/./images/arrow-right-for-pagination.svg') center/contain no-repeat;
}

.pagination__link--before:hover .pagination__arrow--before,
.pagination__link--next:hover .pagination__arrow--next {
    filter: brightness(0) invert(1);
}


/* End */
/* /local/templates/galactic/components/bitrix/system.pagenavigation/myPagination/style.css?17732136301394 */
