

/* Start:/local/templates/galactic/components/bitrix/news.list/listGalactic/style.css?17732140121032*/
.news__title {
    margin-inline: var(--base-page-inline-indent);
    padding-block: 55px;
    font-size: var(--font-size-h1);
}

.news__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 80px;
    flex-wrap: wrap;
    margin-inline: var(--base-page-inline-indent);
}

.news-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
    width: 48%;
}

.news-card__title {
    font-size: var(--font-size-h2);
    font-weight: 600;
    line-height: var(--line-height-title);
}

.news-card__text {
    font-size: var(--font-size-content);
    line-height: var(--line-height-content);
}

.news-card__button {
    height: 54px;
    width: fit-content;
}

.news-card__button::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url('/local/templates/galactic/components/bitrix/news.list/listGalactic/./images/arrow-right-brand.svg') center/contain no-repeat;
    transition: 0.3s;   
}

.news-card__button:hover::after {
    background: url('/local/templates/galactic/components/bitrix/news.list/listGalactic/./images/arrow-right-white.svg') center/contain no-repeat;
}
/* End */


/* Start:/local/templates/galactic/components/bitrix/system.pagenavigation/paginationGalactic/style.css?17732136741437*/
.pagination__list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: var(--base-page-inline-indent);
    margin-block: 83px;
    column-gap: 16px;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-button);
    font-weight: 600;
    color: var(--color-brand);
    width: 56px;
    height: 54px;
    border: 2px solid var(--color-brand);
    border-radius: 50px;
    transition: 0.3s;
}

.pagination__link.pagination__link--active,
.pagination__link:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.pagination__link--before,
.pagination__link--next {
    width: 106px;
    height: 54px;
}

.pagination__arrow {
    width: 24px;
    height: 22px;
}

.pagination__arrow--before {
    background: url('/local/templates/galactic/images/arrow-right-for-pagination.svg') center/contain no-repeat;
    /* использовал scale(-1), чтобы развернуть имеющуюся стрелку и не брать картинку вне макета */
    transform: scale(-1);
}

.pagination__arrow--next {
    background: url('/local/templates/galactic/images/arrow-right-for-pagination.svg') center/contain no-repeat;
}

.pagination__link--before:hover .pagination__arrow--before,
.pagination__link--next:hover .pagination__arrow--next {
    filter: brightness(0) invert(1);
}


/* End */
/* /local/templates/galactic/components/bitrix/news.list/listGalactic/style.css?17732140121032 */
/* /local/templates/galactic/components/bitrix/system.pagenavigation/paginationGalactic/style.css?17732136741437 */
