// Пользовательские переменные

// Цвета, используемые на сайте (по возможности желательно придерживаться этого формата)
$color-white: #fefefe;
$color-black: #0a0a0a;
$color-gray: #cacaca;
$color-gray-light: #e6e6e6;
$color-gray-dark: #8a8a8a;

$color-purple: #2c145e;
$color-pink: #841844;

// Основные параметры body (если не используете, удаляйте)
$body-background: $color-white;
$body-text-color: $color-black;

// $body-font-family: "Helvetica Neue", helvetica, roboto, arial, sans-serif;
$body-font-family: "Open Sans", sans-serif;

// Настройки сетки (если не используете, удаляйте)
$grid-columns: 12;
$global-width: 1200px;

// Точки разрыва адаптивной вёрстки и их настройки
$breakpoints: (
	small: 0,
	tablet: 768px,
	large: 1024px,
	xlarge: 1280px,
);
$grid-gutter: (
	small: 20px,
	medium: 20px,
	large: 20px,
	xlarge: 20px,
);

$font-size-header: 28px;
$base-page-inline-indent: 10.42vw;
