/* form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 150px;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	gap: 30px;
	border: 1px solid #777;
	border-radius: 35px;
}

label {
	display: flex;
	align-items: center;
	gap: 10px;
}
*/

.feedback-success {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 150px;
	gap: 30px;
}

.feedback-success__button {
	height: 54px;
	width: fit-content;
}

.feedback-form__button:hover {
	cursor: pointer;
}

