

/* Start:/bitrix/components/bitrix/map.google.search/templates/.default/style.css?1772784313349*/
div.bx-google-search-layout div.bx-google-search-map{
	float: left;
}

div.bx-google-search-layout div.bx-google-search-results{
	float: left;
	max-width: 30%;
	margin: 0 10px 0 0; 
}

div.bx-google-search-layout div.bx-google-search-results ul{
	list-style-image: none; list-style-position: outside; list-style-type: none; padding: 0; margin: 0;
}

/* End */


/* Start:/bitrix/components/bitrix/map.google.system/templates/.default/style.css?177278431330*/
.bx-google-map {color: black;}
/* End */
/* /bitrix/components/bitrix/map.google.search/templates/.default/style.css?1772784313349 */
/* /bitrix/components/bitrix/map.google.system/templates/.default/style.css?177278431330 */
